<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/menu.css">
    <link rel="stylesheet" href="/assets/css/order.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="nav-left">
            <img class="logo" src="/assets/images/logo.png" alt="Logo">
        </div>

        <div class="nav-right">
            <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/menu">Offers</a></li>
                <li><a href="/#menu-container">Know More</a></li>
                <li><a href="/orders">Your Order</a></li>
                <li><a href="/cart">Cart (<span id="cartSize">0</span>)</a></li>
            </ul>
            <button id="login-button"><a href="/signup">Login</a></button>
        </div>
    </nav>

    <h1>YOUR ORDERS</h1>

    <section class="order-sections">
        <table class="order-table">
            <thead class="order-table-head">
                <tr>
                    <th class="order-table-head-cell">Order No.</th>
                    <th class="order-table-head-cell">Order Details</th>
                    <th class="order-table-head-cell">Total Price</th>
                    <th class="order-table-head-cell">Status</th>
                </tr>
            </thead>
            <tbody id="order-table-body"></tbody>
        </table>
    </section>

    <script src="/assets/js/controllers/order.js"></script>
    <script src="/assets/js/controllers/CartSize.js"></script>
</body>
</html>
