<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/signup.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="/"><img class="logo" src="/assets/images/logo.png" alt="Logo"></a>
        </div>
    </nav>

    <div class="signup-body">
        <form action="/menu">
            <h2>Let us know about you!</h2>
            <label for="name">Full Name: </label>
            <input id="name" type="text" placeholder="Enter your name" required>
            <label for="email">Email Address: </label>
            <input id="email" type="email" placeholder="Enter your email address" required>
            <label for="mobile">Mobile Number: </label>
            <input id="mobile" type="number" placeholder="Enter your mobile number" required>
            <button id="signup-button">Sign up</button>
            <p>Already our customer? <a href="/signin">Login</a></p>
        </form>
    </div>
    <script src="/assets/js/controllers/signup.js"></script>
</body>
</html>
