body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 100vw;
    border: 1px solid black;
    background-color: hsl(0, 0%, 20%);
    padding: 0 20px;
    box-sizing: border-box;
}

.nav-left{
    flex: 1;
}

.nav-right{
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-left img {
    height: 8vh;
    width: auto;
}

.nav-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-menu li{
    display: flex;
    margin-right: 10px;
    cursor: pointer;
}

.nav-menu li a{
    text-decoration: none;
    color: white;
}

.nav-menu a:hover{
    color: #ffcc00;
    border-bottom: 1px solid #ffcc00;
}

#login-button{
    background-color: rgb(175, 28, 28);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.banner{
    height: 40vh;
    width: 100vw;
    background-color: #dddddd;
    background-image: url('https://img.freepik.com/free-vector/flat-design-food-sale-background_23-2149167390.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

.banner-image{
    max-height: 45vh;
    width: 100vw;
    /* object-fit: cover; */
}

#all-offers{
    background-color: #333333;
    color: white;
    height: 5vh;
    font-size: larger;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
}

#all-offers-container{
    width: 100vw;
    height: 10vh;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

#all-offers:hover{
    background-color: #ffcc00;
    color: black;
    border: none;
    transition: all 0.4s ease-in-out;
}

#menu-container{
    font-size: xx-large;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#menu-title{
    display: inline-block;
    position: relative;
}

#menu-title::after{
    content: '';
    display: block;
    border-bottom: 4px solid red;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    margin-top: 5px;
    border-radius: 10px;
}

/* #menu-title-underline{
    width: 50px;
    height: 4px;
    background-color: red;
    border: none;
    border-radius: 10px;
} */

#menu-title:hover::after {
    transition: all 0.5s ease-in-out;
    border-bottom: 4px solid yellowgreen;
    width: 150px;
}

.top-3-component{
    display: flex;
    justify-content: space-around;
    width: 90vw;
    height: 43vh;
    margin-top: 80px;
    background-color: #ede9e9;
    border-radius: 20px;
    padding: 10px;
}

.top-3-title{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-left: 2px solid red;
    height: fit-content;
}

.top-3-title button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    cursor: pointer;
}

.top-3-title button:hover{
    background-color: #ffcc00;
    color: black;
    transition: all 0.4s ease-in-out;
}